# dependencies
/frontend/node_modules
/frontend/package-lock.json

/backend/node_modules
/backend/package-lock.json

# testing

# production

# misc
# .env

/.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*